* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
}

.w-screen { width: 100vw; }
.h-screen { height: 100vh; }
.w-full { width: 100%; }
.h-full { height: 100%; }
.overflow-hidden { overflow: hidden; }
.bg-black { background-color: #000; }
.relative { position: relative; }
.block { display: block; }
